src/PuestoDeQuipes/Service References/SuplidoraQuisqueyanaService/SuplidoraQuisqueyanaAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SuplidoraQuisqueyanaAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3487/SuplidoraQuisqueyanaAPI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3487/SuplidoraQuisqueyanaAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3487/SuplidoraQuisqueyanaAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SuplidoraQuisqueyanaService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISuplidoraQuisqueyanaAPI_EnviarOrden_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarOrden" />
  </wsdl:message>
  <wsdl:message name="ISuplidoraQuisqueyanaAPI_EnviarOrden_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarOrdenResponse" />
  </wsdl:message>
  <wsdl:message name="ISuplidoraQuisqueyanaAPI_OrdenCompletada_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdenCompletada" />
  </wsdl:message>
  <wsdl:message name="ISuplidoraQuisqueyanaAPI_OrdenCompletada_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdenCompletadaResponse" />
  </wsdl:message>
  <wsdl:portType name="ISuplidoraQuisqueyanaAPI">
    <wsdl:operation name="EnviarOrden">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuplidoraQuisqueyanaAPI/EnviarOrden" message="tns:ISuplidoraQuisqueyanaAPI_EnviarOrden_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuplidoraQuisqueyanaAPI/EnviarOrdenResponse" message="tns:ISuplidoraQuisqueyanaAPI_EnviarOrden_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdenCompletada">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuplidoraQuisqueyanaAPI/OrdenCompletada" message="tns:ISuplidoraQuisqueyanaAPI_OrdenCompletada_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuplidoraQuisqueyanaAPI/OrdenCompletadaResponse" message="tns:ISuplidoraQuisqueyanaAPI_OrdenCompletada_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISuplidoraQuisqueyanaAPI" type="tns:ISuplidoraQuisqueyanaAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarOrden">
      <soap:operation soapAction="http://tempuri.org/ISuplidoraQuisqueyanaAPI/EnviarOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrdenCompletada">
      <soap:operation soapAction="http://tempuri.org/ISuplidoraQuisqueyanaAPI/OrdenCompletada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SuplidoraQuisqueyanaAPI">
    <wsdl:port name="BasicHttpBinding_ISuplidoraQuisqueyanaAPI" binding="tns:BasicHttpBinding_ISuplidoraQuisqueyanaAPI">
      <soap:address location="http://localhost:3487/SuplidoraQuisqueyanaAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>